.about {
  display: flex;
  flex-flow: column;
  justify-content: start;
  width: 700px;
  margin: 0 auto 50px auto;
}

h1 {
  width: 700px;
  margin: 0 auto;
  text-align: left;
}

h3 {
  margin: 20px auto;
  width: 700px;
}

.photo {
  display: flex;
  background: #000;
  justify-content: center;
}

.depth1,
.depth2,
.depth3,
.depth4 {
  width: 100%;
}

.depthContainer {
  display: flex;
  flex-flow: column;
  width: 700px;
  margin: 0 auto;
  padding: 150px 0px;
}

.depth1 h2,
.depth2 h2,
.depth3 h2,
.depth4 h2 {
  margin: 10px 0;
  width: 700px;
  text-align: left;
  color: white;
}

.depth1 h3,
.depth2 h3,
.depth3 h3 {
  color: white;
}

.warning h4 {
  background: #eee;
  color: #000;
  margin: 0;
  padding: 40px;
}

.depth1 {
  background: #000;
}

.depth2 {
  background: #333;
  padding: 50px 0;
}

.depth3 {
  background: #808080;
  padding: 100px 0;
}

.depth4 h3,
.depth4 h4 {
  color: 000;
}

.depth4 h2 {
  color: #000;
}

.depth4 {
  background: #fff;
  padding: 200px 0;
}

@media only screen and (max-width: 500px) {
  .about {
    width: 355px;
    margin-top: 25px;
  }

  h1 {
    width: 100%;
  }

  .depth1 h2,
  .depth2 h2,
  .depth3 h2,
  .depth4 h2 {
    width: 100%;
  }

  h3 {
    width: 100%;
  }

  .profile {
    width: 60%;
  }

  .depthContainer {
    width: 375px;
    margin: 0 auto;

    padding: 150px 10px;
  }

  .depth4 {
    background: #fff;
    padding: 0px 0 0px 0;
  }
}
