.footerGraphic {
	width: 100%;
	margin-bottom: -3px;
}

.footerBackground {
	background: var(--main-black);
	margin: 0 auto;
}

.footerContainer {
	padding: 35px 200px;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

.email {
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: solid 2px var(--main-white);
	padding-bottom: 3px;
	display: inline;
	background: #222;
	transition: all 0.5s;
}

.email:hover {
	animation: colorShift 2s infinite;
	animation-timing-function: ease-in-out;
	color: #febd2f;
	border-bottom: solid 2px #febd2f;
}

.footerCap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 80px;
}

@keyframes colorShift {
	0% {
		color: white;
		border-bottom: solid 2px var(--main-white);
		margin-left: 0px;
	}

	15% {
		color: #febd2f;
		border-bottom: double 2px #febd2f;
		margin-left: 3px;
	}

	30% {
		color: #ff773d;
		border-bottom: solid 2px #ff773d;
		margin-left: 0px;
	}

	45% {
		color: #fc1370;
		border-bottom: double 2px #fc1370;
		margin-left: 3px;
	}

	65% {
		color: #8342e8;
		border-bottom: solid 2px #8342e8;
		margin-left: 0px;
	}

	80% {
		color: var(--main-blue);
		border-bottom: solid 2px var(--main-blue);
		margin-left: 3px;
	}

	90% {
		color: var(--main-green);
		border-bottom: solid 2px var(--main-green);
		margin-left: 0px;
	}

	100% {
		color: white;
		border-bottom: solid 2px white;
		margin-left: 0px;
	}
}
