.navContainer {
	width: 100%;
	max-width: 1440px;
	padding: 20px 200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flippedHeaderGraphic {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	z-index: -10;
}

@media only screen and (max-width: 1000px) {
	.navContainer {
		width: 100%;
		padding: 20px 40px;
	}
}

@media only screen and (max-width: 500px) {
	.navContainer {
		width: 100%;
		padding: 20px 12px;
		margin-bottom: 20px;
	}

	.flippedHeaderGraphic {
		width: 115%;
		right: 0;
	}
}
