.headerContentContainer {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin-top: 100px;
}

.headline {
	display: flex;
}

.badge {
	color: var(--main-green);
	text-transform: uppercase;
	font-weight: 700;
}

.workSection {
	margin-top: 150px;
	margin-bottom: 150px;
	max-width: 1040px;
	width: 100%;
}
.workHeader {
	display: flex;
	align-items: baseline;
}

.workLayout {
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	gap: 40px;
}

.singleWorkContainer {
	width: 100%;
}

.imageContainer {
	background: var(--main-black);
	border-radius: 10px;
	display: grid;
	place-items: center;
}

.imageContainer::before {
	content: "";
	padding-top: 100%;
	display: block;
	grid-area: 1 / 1 / 2 / 2;
}

.logos {
	width: 40%;
	height: 40%;
	grid-area: 1 / 1 / 2 / 2;
	opacity: 100;
	transform: scale(1.0);
}
.imageContainer:hover .logos,
.imageContainer:hover ~ .logos {
	opacity: 100%;
	transform: scale(1.2);
}
